.forgotpassword{
    display: flex;
    min-width: 0px;
    flex: 1 1 0%;
    flex-direction: column;
    min-height: 100vh;
    /* background: linear-gradient(90deg,#8a8783,#ffc463); */
    background-image:url("/resources/logo.png");
    transition: margin-left 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}